<!DOCTYPE html>
<html lang="en">
<head>
	<title>YKPS Timetable Utilities</title>
</head>
<body>
	<h1>YKPS Timetable Utilities</h1>
	<p>
	This is a simple Web application that generates your YK Pao School Timetable and an importable iCalendar file. You may enter your YKPS credentials below and click "Login" to generate them. Please note that your timetable will be visible to anyone who knows your student ID after you generated it. Timetables don't contain sensitive information in my opinion, so I think it's fine.
	</p>
	<p>
	<em>The form below submits YOUR password to MY server. There is nothing stopping me from using your password maliciously, such as logging into your school email, if I choose to record it. This Website is more convenient than running the program yourself, but it is a Service as a Software Substitute and cannot be trusted. You are strongly recommended to use <a href="https://git.andrewyu.org/andrew/school/meowschool.git/commit/?h=ical">the offline Python script</a> after reading it carefully. You may also run <a href="https://users.andrewyu.org/timetable.tar.gz">a precompiled binary</a>, but that's also a bad idea because you wouldn't be able to find out if I put malware into the binary. Read more about <a href="https://gnu.org/philosophy/free-sw.html">Free Software</a> and <a href="https://www.gnu.org/philosophy/who-does-that-server-really-serve.en.html">Service as a Software Substitute</a>.</em>
	</p>
	<p>
	<strong>Any attempt to maliciously use or attack this system by an entity with connection to YK Pao School will be reported to the Student Life Office. You may face civil liabilities or criminal prosecution if you attempt to maliciously interact with this system.</strong>
	</p>
	<form method="POST" enctype="multipart/form-data">
		<label for="username">Username (starts with "s"):</label>
		<input type="text" id="username" name="username" required /><br />
		<label for="pass">Password:</label>
		<input type="password" id="password" name="password" required /><br />
	<input type="submit" value="Login">
	</form>
</body>
</html>
